openapi: 3.1.0
info:
  title: justhtml.sh API
  version: 1.0.0
  description: >-
    Code-first generated spec (Z1 — docs resource only). Parallel artifact diffed against the
    hand-written spec; not yet served.
servers:
  - url: https://justhtml.sh
    description: Production
components:
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
      bearerFormat: jh_live_...
      description: >-
        Long-lived API key obtained via the auth.md service_auth flow. Carries scopes docs.read
        docs.write. 401s include a WWW-Authenticate header pointing at the protected-resource
        metadata.
  schemas:
    CreateDocBody:
      type: object
      properties:
        html:
          type: string
          description: The document HTML.
          example: <h1>Hello</h1>
        title:
          type:
            - string
            - 'null'
          maxLength: 300
          description: Optional document title.
          example: My doc
        public:
          type: boolean
          default: false
          description: Whether the document is public.
      required:
        - html
      description: Create a document. html is required; title and public are optional.
    UpdateDocBody:
      type: object
      properties:
        html:
          type: string
          description: Replacement HTML (full rewrite, bumps version).
          example: <h1>Hi</h1>
        title:
          type:
            - string
            - 'null'
          maxLength: 300
          description: New title, or null to clear it.
        public:
          type: boolean
          description: New visibility flag (owner only).
      description: >-
        Update html (full rewrite), title, or visibility. At least one field is required. Editors
        may rewrite html; only the owner may change title or public.
    OwnerDoc:
      type: object
      properties:
        slug:
          type: string
          example: fierce-tiger-12345
        url:
          type: string
          format: uri
          example: https://justhtml.sh/d/fierce-tiger-12345
        title:
          type:
            - string
            - 'null'
        version:
          type: integer
        public:
          type: boolean
        view_token:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        html:
          type: string
      required:
        - slug
        - url
        - title
        - version
        - public
        - view_token
        - created_at
        - updated_at
      description: Document as seen by its owner (includes view_token).
    GranteeDoc:
      type: object
      properties:
        slug:
          type: string
          example: fierce-tiger-12345
        url:
          type: string
          format: uri
          example: https://justhtml.sh/d/fierce-tiger-12345
        title:
          type:
            - string
            - 'null'
        version:
          type: integer
        public:
          type: boolean
        role:
          type: string
          enum:
            - editor
            - commenter
            - viewer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        html:
          type: string
      required:
        - slug
        - url
        - title
        - version
        - public
        - role
        - created_at
        - updated_at
      description: Document as seen by a non-owner grantee (role instead of view_token).
    DocWithHtml:
      type: object
      properties:
        slug:
          type: string
          example: fierce-tiger-12345
        url:
          type: string
          format: uri
          example: https://justhtml.sh/d/fierce-tiger-12345
        title:
          type:
            - string
            - 'null'
        version:
          type: integer
        public:
          type: boolean
        view_token:
          type: string
        role:
          type: string
          enum:
            - editor
            - commenter
            - viewer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        html:
          type: string
      required:
        - slug
        - url
        - title
        - version
        - public
        - created_at
        - updated_at
      description: >-
        Owner sees view_token; a grantee sees role (editor/commenter/viewer) instead. html is
        included on single-doc fetches and after writes.
    DocListItem:
      type: object
      properties:
        slug:
          type: string
          example: fierce-tiger-12345
        url:
          type: string
          format: uri
          example: https://justhtml.sh/d/fierce-tiger-12345
        title:
          type:
            - string
            - 'null'
        access:
          type: string
          enum:
            - owner
            - editor
            - commenter
            - viewer
          description: >-
            The caller's access to this doc. owner for docs you own; otherwise the resolved grant
            role (an explicit email grant beats a domain grant for the same email).
        version:
          type: integer
        public:
          type: boolean
        comment_count:
          type: integer
          description: >-
            Live (non-deleted) comments + replies on the doc. 0 when there are none. The /docs
            dashboard surfaces the same count.
        view_token:
          type: string
          description: Present only when access=owner.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - slug
        - url
        - title
        - access
        - version
        - public
        - comment_count
        - created_at
        - updated_at
      description: >-
        A document as returned by GET /api/v1/docs (any scope). Carries access
        (owner|editor|commenter|viewer). Owned items (access=owner) additionally carry view_token;
        shared items omit it.
    DocListResponse:
      type: object
      properties:
        docs:
          type: array
          items:
            $ref: '#/components/schemas/DocListItem'
      required:
        - docs
      description: The matched documents.
    DeleteDocResponse:
      type: object
      properties:
        slug:
          type: string
        deleted:
          type: boolean
      required:
        - slug
        - deleted
      description: Soft-delete acknowledgement.
    ApiError:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
      required:
        - error
        - message
      additionalProperties: {}
      description: 'Structured API error: { error, message, ...extra }.'
    GrantBody:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Grantee email (provide exactly one of email or domain).
        domain:
          type: string
          example: kernel.sh
          description: Grantee email-domain (provide exactly one of email or domain).
        role:
          type: string
          enum:
            - editor
            - commenter
            - viewer
          description: Grant role.
        notify:
          type: boolean
          default: true
          description: >-
            Email-grants only. Send the grantee a share-notification email (default true). Ignored
            for domain grants.
      required:
        - role
      description: >-
        Share with an email or a domain. Provide exactly one of email or domain. role is editor,
        commenter, or viewer. notify (email grants only) defaults to true.
    Grant:
      type: object
      properties:
        id:
          type: integer
        grantee_type:
          type: string
          enum:
            - email
            - domain
        grantee:
          type: string
        role:
          type: string
          enum:
            - editor
            - commenter
            - viewer
        created_at:
          type: string
          format: date-time
      required:
        - id
        - grantee_type
        - grantee
        - role
        - created_at
      description: A single grant (email or domain) on a document.
    GrantListResponse:
      type: object
      properties:
        slug:
          type: string
        grants:
          type: array
          items:
            $ref: '#/components/schemas/Grant'
        count:
          type: integer
        max:
          type: integer
          example: 50
      required:
        - slug
        - grants
        - count
        - max
      description: Grants on the document (owner only).
    GrantCreatedResponse:
      type: object
      properties:
        slug:
          type: string
        grant:
          $ref: '#/components/schemas/Grant'
        notified:
          type: boolean
          description: >-
            Present only for email grants: true if the share-notification email was sent, false if
            suppressed (notify:false) or skipped (rate-limited / send failed).
      required:
        - slug
        - grant
      description: Grant created.
    GrantUnchangedResponse:
      type: object
      properties:
        slug:
          type: string
        grant:
          $ref: '#/components/schemas/Grant'
        unchanged:
          type: boolean
      required:
        - slug
        - grant
        - unchanged
      description: Idempotent re-grant (same target + role).
    GrantDeletedResponse:
      type: object
      properties:
        slug:
          type: string
        grant_id:
          type: integer
        deleted:
          type: boolean
      required:
        - slug
        - grant_id
        - deleted
      description: Grant revoked.
    VersionMeta:
      type: object
      properties:
        version:
          type: integer
        edit_kind:
          type: string
          enum:
            - create
            - patch
            - rewrite
        author_user_id:
          type:
            - integer
            - 'null'
          description: User who authored this version (null for legacy/system writes).
        patch:
          type: array
          items:
            type: object
            properties:
              oldText:
                type: string
              newText:
                type: string
            required:
              - oldText
              - newText
          description: >-
            The edits payload as requested, present only when edit_kind=patch (the list of
            {oldText,newText} applied). Omitted otherwise.
        bytes:
          type: integer
        created_at:
          type: string
          format: date-time
      required:
        - version
        - edit_kind
        - author_user_id
        - bytes
        - created_at
      description: Metadata for one retained version (no html).
    VersionListResponse:
      type: object
      properties:
        slug:
          type: string
        current_version:
          type: integer
        versions:
          type: array
          items:
            $ref: '#/components/schemas/VersionMeta'
      required:
        - slug
        - current_version
        - versions
      description: Version metadata (no html), newest first.
    VersionSnapshot:
      type: object
      properties:
        slug:
          type: string
        version:
          type: integer
        edit_kind:
          type: string
          enum:
            - create
            - patch
            - rewrite
        author_user_id:
          type:
            - integer
            - 'null'
        patch:
          type: array
          items:
            type: object
            properties:
              oldText:
                type: string
              newText:
                type: string
            required:
              - oldText
              - newText
        bytes:
          type: integer
        created_at:
          type: string
          format: date-time
        html:
          type: string
      required:
        - slug
        - version
        - edit_kind
        - author_user_id
        - bytes
        - created_at
        - html
      description: A version's metadata plus its full html snapshot.
    EditsBody:
      type: object
      properties:
        edits:
          type: array
          items:
            type: object
            properties:
              oldText:
                type: string
              newText:
                type: string
            required:
              - oldText
              - newText
          minItems: 1
          maxItems: 200
          description: The patches to apply, in order. 1–200 edits.
        base_version:
          type:
            - integer
            - 'null'
          minimum: 1
          description: The version the edits were derived against; a mismatch returns 409.
      required:
        - edits
      description: >-
        Apply deterministic patches. edits is a non-empty list of {oldText,newText}. Always send
        base_version; a mismatch returns 409.
    Slug:
      type: string
      example: fierce-tiger-12345
    VersionNum:
      type: integer
      minimum: 1
      example: 3
    GrantId:
      type: integer
      minimum: 1
      example: 1
  parameters:
    Slug:
      schema:
        $ref: '#/components/schemas/Slug'
      required: true
      name: slug
      in: path
    VersionNum:
      schema:
        $ref: '#/components/schemas/VersionNum'
      required: true
      name: 'n'
      in: path
    GrantId:
      schema:
        $ref: '#/components/schemas/GrantId'
      required: true
      name: id
      in: path
paths:
  /api/v1/docs:
    post:
      tags:
        - docs
      summary: Create a document
      operationId: createDoc
      security:
        - bearerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocBody'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnerDoc'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: A resource quota was exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: HTML exceeds the 2 MB per-document size limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - docs
      summary: List documents (owned, shared, or both)
      description: >-
        Lists documents by scope. Every item carries an access role (owner|editor|commenter|viewer).
        For a doc matched by both an email grant and a domain grant, the email grant wins
        (precedence ladder). Owned items additionally carry view_token; shared items do not (the
        view token is an owner-only capability). The web equivalent for a signed-in human is
        https://justhtml.sh/docs.
      operationId: listDocs
      security:
        - bearerApiKey: []
      parameters:
        - schema:
            type: string
            enum:
              - owned
              - shared
              - all
            default: owned
            description: >-
              owned (default): docs the caller owns. shared: docs granted to the caller's email or
              email-domain, excluding docs the caller owns. all: owned then shared.
          required: false
          description: >-
            owned (default): docs the caller owns. shared: docs granted to the caller's email or
            email-domain, excluding docs the caller owns. all: owned then shared.
          name: scope
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
          required: false
          name: limit
          in: query
      responses:
        '200':
          description: The matched documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocListResponse'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/docs/{slug}:
    get:
      tags:
        - docs
      summary: Fetch a document (metadata + html)
      operationId: getDoc
      security:
        - bearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: Owner sees view_token; a grantee sees role instead of view_token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocWithHtml'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No such document (also returned for inaccessible docs; no existence oracle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    patch:
      tags:
        - docs
      summary: Update html (full rewrite), title, or visibility
      description: >-
        Owner or editor grant may rewrite html. Only the owner may change title or public
        (visibility).
      operationId: updateDoc
      security:
        - bearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/Slug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDocBody'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocWithHtml'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Editor tried to change title/visibility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No such document (also returned for inaccessible docs; no existence oracle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: HTML exceeds the 2 MB per-document size limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - docs
      summary: Soft-delete a document (owner only)
      operationId: deleteDoc
      security:
        - bearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDocResponse'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No such document (also returned for inaccessible docs; no existence oracle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/docs/{slug}/edits:
    post:
      tags:
        - docs
      summary: Apply deterministic patches
      description: >-
        exact-match-then-fuzzy edit application. Owner or editor grant. Always send base_version; a
        mismatch returns 409. Ambiguous, no-match, or overlapping edits return 422 naming the
        failing edit index.
      operationId: editDoc
      security:
        - bearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/Slug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditsBody'
      responses:
        '200':
          description: Patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocWithHtml'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No such document (also returned for inaccessible docs; no existence oracle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '409':
          description: base_version conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: HTML exceeds the 2 MB per-document size limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: An edit could not be applied deterministically
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/docs/{slug}/rotate-token:
    post:
      tags:
        - docs
      summary: Rotate the view token (un-share; owner only)
      operationId: rotateViewToken
      security:
        - bearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: New view token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnerDoc'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No such document (also returned for inaccessible docs; no existence oracle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/docs/{slug}/versions:
    get:
      tags:
        - docs
      summary: List retained version history (newest first)
      operationId: listVersions
      security:
        - bearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: Version metadata (no html)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionListResponse'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No such document (also returned for inaccessible docs; no existence oracle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/docs/{slug}/versions/{n}:
    get:
      tags:
        - docs
      summary: Fetch a specific version's full html
      operationId: getVersion
      security:
        - bearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/VersionNum'
      responses:
        '200':
          description: Version snapshot with html
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionSnapshot'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No such document (also returned for inaccessible docs; no existence oracle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/docs/{slug}/grants:
    get:
      tags:
        - sharing
      summary: List grants (owner only)
      operationId: listGrants
      security:
        - bearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: Grants on the document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantListResponse'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No such document (also returned for inaccessible docs; no existence oracle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      tags:
        - sharing
      summary: Share with an email or a domain (owner only)
      description: >-
        Provide exactly one of email or domain. role is editor, commenter, or viewer. Consumer email
        providers (gmail.com, ...) are rejected with 422. Re-granting the same target+role is
        idempotent (200 with unchanged:true). Email grants send the grantee a share-notification
        email containing ONE single-use, 7-day login link with next=/d/:slug; set notify:false to
        suppress it. DOMAIN grants NEVER notify (notify is ignored for them).
      operationId: createGrant
      security:
        - bearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/Slug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantBody'
      responses:
        '200':
          description: Idempotent re-grant (same target + role)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantUnchangedResponse'
        '201':
          description: Grant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantCreatedResponse'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: A resource quota was exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No such document (also returned for inaccessible docs; no existence oracle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Consumer email domain rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/docs/{slug}/grants/{id}:
    delete:
      tags:
        - sharing
      summary: Revoke a grant (owner only)
      operationId: deleteGrant
      security:
        - bearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/GrantId'
      responses:
        '200':
          description: Grant revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantDeletedResponse'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Missing/invalid credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No such document (also returned for inaccessible docs; no existence oracle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
webhooks: {}
